body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
}

/* change this to alter the padding on the sides */
.window-padding {
    padding-left: 16vw;
    padding-right: 16vw;
}

.section-one {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    align-items: center;
}

.header nav {
    margin-left: auto;
}

.header h1 {
    font-size: 24px;
    color: #f9faf8;
}

.header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    gap: 24px;
}

.header a {
    color: #e5e7eb;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

.section-one-body {
    display: flex;
    margin: 100px 0;
    gap: 50px;
}

.section-one-body p {
    margin: 8px 0;
    font-size: 18px;
    color: #e5e7eb;
}

.section-one-body h2{
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8
}

.section-one-left {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.section-one-left button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 10px 40px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    align-self: flex-start;
    font-weight: 700    ;
}

.section-one-right {
    flex: 1;
    margin: 0;
    align-content: center;
    text-align: center;
    background-color:#60656d;
}

.section-two {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
}

.section-two h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin: 50px 0;
}

.image-container {
    display: flex;
    gap: 3vw;
    margin-bottom: 100px;
}

.cardlike {
    display: flex;
    flex-direction: column;
}

.cardlike .image-placeholder {
    margin: 0;
    border-color: #3882f6;
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
    height: 13vw;
    align-content: center;
    color: #3882f6;
}

.section-three {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-three blockquote p {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    margin: 0;
}

.section-three blockquote {
    margin: 0;
}

.section-three .bold-p {
    margin: 0;
    align-self: flex-end;
    font-weight: 900;
    font-size: 20px;
}

.section-four {
    margin-top: 100px;
    margin-bottom: 100px;

}

/* like the anime */
.blue-box {
    display: flex;
    font-size: 18px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 3vw 7vw;
    border-radius: 10px;
    border: solid;
    border-color: #3882f6;
    border-width: 1px;
}

.section-four .bold-p {
    font-weight: 900;
    font-size: 20px;
}

.section-four p {
    margin: 0;
}

.section-four button {
    background-color: #3882f6;
    border: solid;
    color: #f9faf8;
    border-color: #f9faf8;
    border-width: 1px;;
    padding: 8px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    align-self: flex-end;
    font-weight: 700;
    margin-left: auto;
}

.footer {
    height: 100px;
    background: #1f2937;
    color: #f9faf8;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
